services:
  db:
    image: postgres:15-alpine
    restart: always
    env_file:
      - docker/.dockerenv
    volumes:
      - ./db/data:/var/lib/postgresql/data
      - ./db/backup:/backup
    ports:
      - "5432:5432"

  app:
   build:
     context: .
     dockerfile: docker/Dockerfile
   env_file: docker/.dockerenv
   restart: always
   depends_on:
     - db
   links:
     - db
   ports:
     - "8000:8000"
   command: sh -c ". .venv/bin/activate && ./manage.py migrate && ./manage.py runserver 0.0.0.0:8000"